<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/294caf1a-654f-4c2e-b69b-6f36b61f48d7/resourceGroups/rg-BulletinBoard/providers/Microsoft.Web/sites/BulletinBoard-Api</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bulletinboard-api-c4bvgbfmdwdde9ed.germanywestcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>aa72b68f-74f8-476e-9762-8def3a24e769</ProjectGuid>
    <PublishUrl>https://bulletinboard-api-c4bvgbfmdwdde9ed.scm.germanywestcentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$BulletinBoard-Api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>